<div class="toolbar">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="toolbar-container">
                    <img class="logo" src="/assets/images/sunwer-logo.png" alt="sunwer logo">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container flilia">
    <div class="row">
        <div class="col-md-12">

            <div class="flilia-container">
                <img class="logo" src="/assets/images/flilia-logo.png" alt="flilia logo">
                <div class="text">
                    <p>
                        We are proud to say we have launched the
                        worldwide professional network Flilia.
                    </p>
                    <p>
                        Flilia is an easier and quicker way to find the job,
                        grow business online, improve knowledge & skills and
                        connect the companies, recruiters and communities wolrldwide in a seamless
                        way to find the right resource for projects delivery & execution.
                    </p>
                    <p>
                        We believe and we continued to build a strong and
                        growing platform of professional opportunities.
                    </p>
                </div>
                <a class="next" href="https://about.flilia.com">
                    Visit flilia.com
                </a>
            </div>

        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="footer-container">

                    <span>© 2021 Sunwer LLP.</span>
                    <div class="help">
                        <span>Contact us if you have any questions:</span>
                        <br>
                        <a href="mailto:info@sunwer.org">info@sunwer.org</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>